<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/order/save}" th:object="${emptyOrder}">

    <label>
        Nazwa produktu:
        <input type="text" th:field="*{productName}"/>
    </label>

    <label>
        Ilość produktów:
        <input type="number" th:field="*{amount}"/>
    </label>

    <button type="submit">Złóż zamówienie</button>


</form>


</body>
</html>