<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/order/save}" th:object="${orderToEdit}">

    <table>


        <!-- Pola id oraz createDate nie podlegają edycji z poziomu GUI-->
        <!--Muszą pozostać ukryte ponieważ przesyłając do backendu obiekt orderToEdit jest uzupełniany o to co zostało zmienione na froncie-->
        <!--Jeśli te pola nie zostaną na fronicie wymienione w tabeli jako ukryte, zostaną przekazane do backendu jako null, a tego nie chcemy-->
        <!--Zasada w edycji jest taka: jeśli jakieś pole nie podlega edycji, w kodzie HTML musi wystąpić jako pole ukryte-->

        <tbody>


        <tr>
            <td>
                <input type="hidden" th:field="*{id}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="hidden" th:field="*{createDate}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{productName}"> Product Name </input>
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" th:field="*{amount}"> Amount </input>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit" > Updating List </button>
            </td>

        </tr>

        </tbody>

    </table>

</form>

<p><a th:href="@{/order/list}">Return to orders list</a></p>

<!--// nie mogę znalejść przyczyny dlaczego gdy aplikacja działa
//w momęcie kliknięcia na ten link automatycznie zostaje dodana
//pusta linia nie potrafie znalejsc mometu co jest za to odpowiedzialne
//chciałbym to zmienic aby w momencie klikniecia w link powracano na
//strone główną bez dodawania kolejnego wiersza zamowienia.
//wiem że "editOrder" wygląda identycznie jednak przyczyna tak mi sie wydaje jest w
//"OrderController" gdyż tam jest różnica już dość sporo opcji próbowałem
// Ale najwidoczniej nie wszystkie.
-->
</body>
</html>